[submodule "1 semester/services/financial_tracker"]
	path = 1 semester/services/financial_tracker
	url = https://github.com/BHEMBD-25-PP-1/financial-tracker
[submodule "1 semester/services/funcfund"]
	path = 1 semester/services/funcfund
	url = https://github.com/funcid/funcfund
[submodule "2 semester/services/arch/mipt-msa-hw5"]
	path = 2 semester/services/arch/mipt-msa-hw5
	url = https://github.com/funcid/mipt-msa-hw5
[submodule "2 semester/services/arch/mipt-arch-2026-hw6"]
	path = 2 semester/services/arch/mipt-arch-2026-hw6
	url = https://github.com/funcid/mipt-arch-2026-hw6
[submodule "1 semester/services/dispute-mcp-processing"]
	path = 1 semester/services/dispute-mcp-processing
	url = https://github.com/BHEMBD-25-PP-1/dispute-mcp-processing
